/* Mobile First Layout - min-width: 375px */
/* Global Elements */
:root {
  --primary-red: hsl(0, 100%, 68%);
  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
  --dark-blue: hsl(228, 45%, 44%);
  --btn-hover: hsla(0, 100%, 68%, 0.8);
  --primary-font: "Barlow Condensed", sans-serif;
  --secondary-font: "Barlow", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
  font-size: 18px;
  font-family: var(--secondary-font);
  color: var(--grayish-blue);
  background-color: inherit;
}

body::before {
  content: "";
  background-color: var(--light-grayish-blue);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 55%;
  height: 58%;
  border-radius: 0 0 0 30px;
}

.upper {  text-transform: uppercase; }

/* Header */
.hamburger-checkbox {  display: none; }

.hamburger-icon {
  position: absolute;
  top: 4%;
  right: 10%;
  line-height: 1.25rem;
  font-size: 1.75rem;
  color: var(--very-dark-blue);
}

.site-header input:checked ~ .nav__menu {
  display: block;
  margin-top: 10%;
}

.nav {  text-align: right; }
.nav__dot {  display: none; }

.nav__menu {
  display: none;
  font-family: var(--secondary-font);
  color: var(--very-dark-blue);
  text-decoration: none;
  font-weight: 900;
}

.nav__menu:last-child {  color: var(--main-text-color); }
.nav__menu:hover {  text-decoration: underline; }
.site-header {  margin-bottom: 5%; padding: 8%; }

/* Main Content */
.btn {
  background-color: var(--primary-red);
  color: var(--light-grayish-blue);
  border-radius: 8px;
  padding: 3% 5%;
  margin-right: 4%;
  box-shadow: 0 2px 6px var(--dark-grayish-blue);
}

.btn:hover {  background-color: var(--btn-hover); }
.illustration {  text-align: right; }
.illustration__img {  max-width: 100%; }
.main-content {  padding: 8%; margin-top: 5%; }

.main-content__cta {
  font-size: .8rem;
  font-family: var(--primary-font);
  padding-top: 5%;
  letter-spacing: 1.5px;
}

.main-content__title {
  color: var(--very-dark-blue);
  font-family: var(--secondary-font);
  font-size: 2rem;
  font-weight: 700;
  padding-top: 5%;
}

.main-content__tagline {  font-size: .9rem; letter-spacing: 1.5px; }

.new {
  background-color: var(--very-dark-blue);
  border-radius: 20px;
  color: var(--light-grayish-blue);
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 2%;
  padding: 2% 4%;
}

/* Footer */
.attribution { font-size: 11px; text-align: center; }
.attribution__link { color: var(--dark-blue); }

/* responsive layout - scaled up */
/* iPhone5/SE and similar screens */
@media only screen and (min-width: 320px) and (max-width: 359px) {
  body::before {  width: 55%; height: 60%; }
  .btn {  display: block; width: 50%; margin-bottom: 5%; }
}

/* iPhoneX and similar screens */
@media screen and (min-width: 375px) and (min-height: 812px) {
  body::before {  width: 55%; height: 48%; }
}

/* Pixel2 and similar screens */
@media only screen and (min-width: 411px) and (min-height: 823px) {
  body::before {  width: 55%; height: 52%; }
}

/* small device screens */
@media only screen and (min-width: 576px) {
  body::before {  width: 58%; height: 35%; }
  footer {  margin-top: 8%; }
  .hamburger-checkbox {  display: none; }
  .hamburger-icon {  display: none; }
  .illustration {  order: 2; }
  .illustration__img { width: 95%; }
  .logo {  margin-right: 45%; }
  .main-content {  padding: 0;  padding-left: 5%; margin: 0; }
  .main-content__cta {  font-size: .49rem; padding-top: 10%; }
  .main-content__tagline { font-size: .55rem; }
  .main-content__title { font-size: 1.25rem; }

  .nav {
    width: -webkit-fill-available;
    width: -moz-webkit-fill-available;
    width: -ms-webkit-fill-available;
    width: -o-webkit-fill-available;
  }
  
  .nav__dot {
    display: inline-block;
    opacity: 0.5;
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 5%;
    vertical-align: text-bottom;
  }

  .nav__menu {  display: initial; font-size: 0.75rem; margin-right: 5%; }
  .nav__menu:last-child {  margin-right: 0; }

  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
  }

  .site-main {  max-width: 100%; display: flex; justify-content: flex-end; }
}

/* iPad and similar screens */
@media only screen and (min-width: 768px) {
  body::before {  width: 58%; height: 25%; }
  .logo {  margin-right: 50%; }
  .main-content__cta {  font-size: .75rem; }
  .main-content__title { font-size: 1.5rem; }
  .main-content__tagline { font-size: .75rem; }
  .nav__menu {  font-size: 0.9rem;  }
}

/* medium devices and similar screens */
@media screen and (min-width: 800px) {
  body::before {  width: 55%; height: 40%; }
  .logo { margin-left: 2%; margin-right: 50%; }
  .main-content {  padding-left: 8%; }
}

@media screen and (min-width: 992px) {
  body::before {  width: 50%; height: 40%; }
  .illustration__img {  width: 100%; }
  .logo {  margin-left: 5%; margin-right: 55%; }
  .main-content__title { font-size: 2.5rem; }
  .site-header { padding: 4%; padding-bottom: 0; }
}

/* iPad Pro and similar screens */
@media only screen and (min-width: 1024px) {
  body::before {  width: 50%; height: 20%; }
  .logo {  margin-right: 50%; }
  .main-content__cta {  margin-top: 7%; }
  .nav__dot {  margin-right: 5%; }
  .nav__menu {  margin-right: 10%; }
  .site-header {  padding: 2% 4%; }
}

/* large devices and similar screens */
@media screen and (min-width: 1100px) {
  body::before {  width: 50%; height: 35%; }
}

/* Desktop and similar screens */
@media only screen and (min-width: 1200px) {
  body::before {  width: 45%; height: 40%; }
  .illustration__img {  width: 90%; }
  .main-content {  padding-right: 5%; }
  .main-content__title { font-weight: 900; }
  .nav__menu {  font-size: 1rem; }
}
